workflows/01-sheets-to-pipedrive.json
{"name":"Red Heart Capital - Sheets to Pipedrive","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificSheet","sheetName":{"__rl":true,"value":"Sheet1","mode":"list"},"options":{}},"name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":2,"position":[240,300],"credentials":{"googleSheetsOAuth2Api":{"id":"1","name":"Google Sheets"}}},{"parameters":{"jsCode":"const i=$input.item.json;const fn=(i['First Name']||'').trim();const ln=(i['Last Name']||'').trim();const name=`${fn} ${ln}`.trim()||'Unknown';const em=(i['Email']||'').trim().toLowerCase();const ph=(i['Phone']||'').trim();const cap=i['Reason for Capital']||'';const amt=i['Amount Needed']||'';const pt=i['Property Type']||'';const pl=i['Property Location']||'';const sd=i['Stage of Deal']||'';const cp=i['Completed Projects']||'';const dl=i['Deal Liquidity']||'';const fr=i['Fico Range']||'';let val=0;if(amt.includes('$1MM Plus'))val=1000000;else if(amt.includes('$500'))val=500000;else if(amt.includes('$250'))val=250000;else if(amt.includes('$100'))val=100000;const err=[];if(!name||name==='Unknown')err.push('No name');if(!em&&!ph)err.push('No contact');return{json:{first_name:fn,last_name:ln,full_name:name,email:em||null,phone:ph||null,reason_for_capital:cap,amount_needed:amt,loan_amount:val,property_type:pt,property_location:pl,stage_of_deal:sd,completed_projects:cp,deal_liquidity:dl,fico_range:fr,validation_errors:err,has_errors:err.length>0,created_at:new Date().toISOString(),deal_title:`${cap} - ${pl||name}`}};"},"name":"Extract Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.has_errors }}","value2":false}]}},"name":"Check Validation","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"search","term":"={{ $json.email || $json.phone }}","searchFields":"email,phone"},"name":"Search Person","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[900,200],"credentials":{"pipedriveApi":{"id":"2","name":"Pipedrive"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.length }}","operation":"larger","value2":0}]}},"name":"Person Exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,200]},{"parameters":{"resource":"person","operation":"update","personId":"={{ $json[0].id }}","updateFields":{"email":"={{ $('Extract Data').item.json.email }}","phone":"={{ $('Extract Data').item.json.phone }}"}},"name":"Update Person","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1340,100],"credentials":{"pipedriveApi":{"id":"2"}}},{"parameters":{"resource":"person","name":"={{ $('Extract Data').item.json.full_name }}","additionalFields":{"email":"={{ $('Extract Data').item.json.email }}","phone":"={{ $('Extract Data').item.json.phone }}"}},"name":"Create Person","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1340,300],"credentials":{"pipedriveApi":{"id":"2"}}},{"parameters":{"resource":"lead","title":"={{ $('Extract Data').item.json.deal_title }}","additionalFields":{"personId":"={{ $json.id }}","value":{"amount":"={{ $('Extract Data').item.json.loan_amount }}","currency":"USD"}}},"name":"Create Lead","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1560,200],"credentials":{"pipedriveApi":{"id":"2"}}},{"parameters":{"resource":"deal","title":"={{ $('Extract Data').item.json.deal_title }}","associateWith":"person","personId":"={{ $('Create Person').item.json.id || $('Update Person').item.json.id }}","additionalFields":{"stageId":1,"value":"={{ $('Extract Data').item.json.loan_amount }}","currency":"USD","customFields":{"customProperties":[{"name":"First Name","value":"={{ $('Extract Data').item.json.first_name }}"},{"name":"Last Name","value":"={{ $('Extract Data').item.json.last_name }}"},{"name":"Email","value":"={{ $('Extract Data').item.json.email }}"},{"name":"Phone","value":"={{ $('Extract Data').item.json.phone }}"},{"name":"Reason for Capital","value":"={{ $('Extract Data').item.json.reason_for_capital }}"},{"name":"Amount Needed","value":"={{ $('Extract Data').item.json.amount_needed }}"},{"name":"Property Type","value":"={{ $('Extract Data').item.json.property_type }}"},{"name":"Property Location","value":"={{ $('Extract Data').item.json.property_location }}"},{"name":"Stage of Deal","value":"={{ $('Extract Data').item.json.stage_of_deal }}"},{"name":"Completed Projects","value":"={{ $('Extract Data').item.json.completed_projects }}"},{"name":"Deal Liquidity","value":"={{ $('Extract Data').item.json.deal_liquidity }}"},{"name":"Fico Range","value":"={{ $('Extract Data').item.json.fico_range }}"}]}}},"name":"Create Deal","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1780,200],"credentials":{"pipedriveApi":{"id":"2"}}},{"parameters":{"resource":"note","dealId":"={{ $json.id }}","content":"=**FB LEAD**\n{{ $('Extract Data').item.json.full_name }}\n{{ $('Extract Data').item.json.email }}\n{{ $('Extract Data').item.json.phone }}\n\n{{ $('Extract Data').item.json.reason_for_capital }}\n{{ $('Extract Data').item.json.amount_needed }}\n{{ $('Extract Data').item.json.property_type }} - {{ $('Extract Data').item.json.property_location }}\n\nStage: {{ $('Extract Data').item.json.stage_of_deal }}\nExp: {{ $('Extract Data').item.json.completed_projects }}\nLiq: {{ $('Extract Data').item.json.deal_liquidity }}\nFICO: {{ $('Extract Data').item.json.fico_range }}"},"name":"Add Note","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2000,200],"credentials":{"pipedriveApi":{"id":"2"}}},{"parameters":{"channel":"YOUR_CHANNEL_ID","text":"=🎯 NEW LEAD\n{{ $('Extract Data').item.json.full_name }}\n{{ $('Extract Data').item.json.email }}\n{{ $('Extract Data').item.json.phone }}\n\n{{ $('Extract Data').item.json.reason_for_capital }}\n{{ $('Extract Data').item.json.amount_needed }}\n{{ $('Extract Data').item.json.property_type }} - {{ $('Extract Data').item.json.property_location }}\n\n<https://app.pipedrive.com/deal/{{ $('Create Deal').item.json.id }}|View>"},"name":"Notify Slack","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[2220,200],"credentials":{"slackApi":{"id":"3"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Extract Data"}]]},"Extract Data":{"main":[[{"node":"Check Validation"}]]},"Check Validation":{"main":[[{"node":"Search Person"}]]},"Search Person":{"main":[[{"node":"Person Exists?"}]]},"Person Exists?":{"main":[[{"node":"Update Person"}],[{"node":"Create Person"}]]},"Update Person":{"main":[[{"node":"Create Lead"}]]},"Create Person":{"main":[[{"node":"Create Lead"}]]},"Create Lead":{"main":[[{"node":"Create Deal"}]]},"Create Deal":{"main":[[{"node":"Add Note"}]]},"Add Note":{"main":[[{"node":"Notify Slack"}]]}}}
