workflows/02-pipedrive-updates-to-slack.json
{"name":"Pipedrive Deal Updates to Slack","nodes":[{"parameters":{"events":["updated.deal"],"options":{}},"name":"Pipedrive Trigger","type":"n8n-nodes-base.pipedriveTrigger","typeVersion":1,"position":[240,300],"webhookId":"your-webhook-id","credentials":{"pipedriveApi":{"id":"2","name":"Pipedrive"}}},{"parameters":{"jsCode":"const current=$input.item.json.current;const previous=$input.item.json.previous;const meta=$input.item.json.meta;const dealId=current.id;const dealTitle=current.title||'Untitled Deal';const dealValue=current.value?`$${parseFloat(current.value).toLocaleString()}`:'No value';const dealStage=current.stage_id;const dealOwner=current.owner_name||'Unassigned';const dealUrl=`https://app.pipedrive.com/deal/${dealId}`;const changes=[];if(previous.title!==current.title){changes.push(`**Title changed:** ${previous.title||'(empty)'} → ${current.title||'(empty)'}`);}if(previous.value!==current.value){const oldVal=previous.value?`$${parseFloat(previous.value).toLocaleString()}`:'$0';const newVal=current.value?`$${parseFloat(current.value).toLocaleString()}`:'$0';changes.push(`**Value changed:** ${oldVal} → ${newVal}`);}if(previous.stage_id!==current.stage_id){changes.push(`**Stage changed:** Stage ${previous.stage_id} → Stage ${current.stage_id}`);}if(previous.status!==current.status){changes.push(`**Status changed:** ${previous.status} → ${current.status}`);}if(previous.owner_id!==current.owner_id){const oldOwner=previous.owner_name||'Unassigned';const newOwner=current.owner_name||'Unassigned';changes.push(`**Owner changed:** ${oldOwner} → ${newOwner}`);}if(previous.person_id!==current.person_id){changes.push(`**Contact changed**`);}if(previous.org_id!==current.org_id){changes.push(`**Organization changed**`);}if(previous.expected_close_date!==current.expected_close_date){const oldDate=previous.expected_close_date||'Not set';const newDate=current.expected_close_date||'Not set';changes.push(`**Expected close date:** ${oldDate} → ${newDate}`);}if(changes.length===0){changes.push('Deal was updated (minor changes)');}const changesList=changes.join('\\n');const updatedBy=meta.user_name||'Unknown user';const timestamp=new Date().toISOString();return{json:{deal_id:dealId,deal_title:dealTitle,deal_value:dealValue,deal_stage:dealStage,deal_owner:dealOwner,deal_url:dealUrl,changes_list:changesList,updated_by:updatedBy,timestamp:timestamp,has_changes:changes.length>0}};"},"name":"Process Changes","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"channel":"YOUR_CHANNEL_ID","text":"=📊 **DEAL UPDATED**\\n\\n**<{{ $json.deal_url }}|{{ $json.deal_title }}>**\\nValue: {{ $json.deal_value }}\\nOwner: {{ $json.deal_owner }}\\n\\n**What Changed:**\\n{{ $json.changes_list }}\\n\\n_Updated by {{ $json.updated_by }}_","otherOptions":{}},"name":"Send to Slack","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[680,300],"credentials":{"slackApi":{"id":"3","name":"Slack"}}}],"connections":{"Pipedrive Trigger":{"main":[[{"node":"Process Changes"}]]},"Process Changes":{"main":[[{"node":"Send to Slack"}]]}}}
