workflows/02-pipedrive-updates-to-slack.json
{"name":"Pipedrive Deal Activity to Slack","nodes":[{"parameters":{"events":["updated.deal","added.note","added.activity","updated.activity","deleted.activity"],"options":{}},"name":"Pipedrive Trigger","type":"n8n-nodes-base.pipedriveTrigger","typeVersion":1,"position":[240,300],"webhookId":"your-webhook-id","credentials":{"pipedriveApi":{"id":"2","name":"Pipedrive"}}},{"parameters":{"jsCode":"const data=$input.item.json.data;const meta=$input.item.json.meta;const previous=$input.item.json.previous;const action=meta.action;const entity=meta.entity;const userId=meta.user_id;const timestamp=new Date(meta.timestamp).toLocaleString();let dealId=null;let dealTitle='Unknown Deal';let message='';let emoji='';let needsDealLookup=false;if(entity==='deal'){dealId=data.id;dealTitle=data.title||'Untitled Deal';const dealValue=data.value?`$${parseFloat(data.value).toLocaleString()}`:'No value';const dealUrl=`https://app.pipedrive.com/deal/${dealId}`;if(action==='updated'){const changes=[];if(previous&&previous.title!==data.title){changes.push(`Title: ${previous.title||'(empty)'} → ${data.title||'(empty)'}`);}if(previous&&previous.value!==data.value){const oldVal=previous.value?`$${parseFloat(previous.value).toLocaleString()}`:'$0';const newVal=data.value?`$${parseFloat(data.value).toLocaleString()}`:'$0';changes.push(`Value: ${oldVal} → ${newVal}`);}if(previous&&previous.stage_id!==data.stage_id){changes.push(`Stage changed: Stage ${previous.stage_id} → Stage ${data.stage_id}`);}if(previous&&previous.status!==data.status){changes.push(`Status: ${previous.status} → ${data.status}`);}if(previous&&previous.owner_id!==data.owner_id){changes.push(`Owner changed`);}if(previous&&previous.expected_close_date!==data.expected_close_date){const oldDate=previous.expected_close_date||'Not set';const newDate=data.expected_close_date||'Not set';changes.push(`Close date: ${oldDate} → ${newDate}`);}if(changes.length===0){changes.push('Deal updated (minor changes)');}emoji='📊';message=`*DEAL UPDATED*\n\n*${dealTitle}*\nValue: ${dealValue}\n\n*Changes:*\n${changes.join('\n')}`;}else if(action==='added'){emoji='🆕';message=`*NEW DEAL CREATED*\n\n*${dealTitle}*\nValue: ${dealValue}`;}}else if(entity==='note'){dealId=data.deal_id;needsDealLookup=true;const noteContent=data.content||'(no content)';const shortContent=noteContent.length>150?noteContent.substring(0,150)+'...':noteContent;emoji='📝';message=`*NOTE ADDED*\n\n${shortContent}`;}else if(entity==='activity'){dealId=data.deal_id;needsDealLookup=true;const activityType=data.type||'Activity';const activitySubject=data.subject||'No subject';if(action==='added'){emoji='📅';message=`*ACTIVITY SCHEDULED*\n\nType: ${activityType}\nSubject: ${activitySubject}`;}else if(action==='updated'){emoji='✏️';message=`*ACTIVITY UPDATED*\n\nType: ${activityType}\nSubject: ${activitySubject}`;}else if(action==='deleted'){emoji='🗑️';message=`*ACTIVITY DELETED*\n\nType: ${activityType}\nSubject: ${activitySubject}`;}}if(!message){message='Activity logged';emoji='ℹ️';}return{json:{deal_id:dealId,deal_title:dealTitle,message:message,emoji:emoji,user_id:userId,timestamp:timestamp,entity:entity,action:action,needs_deal_lookup:needsDealLookup}};"},"name":"Process Activity","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.needs_deal_lookup }}","value2":true}]}},"name":"Need Deal Info?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300]},{"parameters":{"resource":"deal","operation":"get","dealId":"={{ $('Process Activity').item.json.deal_id }}"},"name":"Get Deal","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[900,200],"credentials":{"pipedriveApi":{"id":"2","name":"Pipedrive"}}},{"parameters":{"jsCode":"const dealData=$input.item.json;const activityData=$('Process Activity').item.json;activityData.deal_title=dealData.title||'Unknown Deal';activityData.deal_value=dealData.value?`$${parseFloat(dealData.value).toLocaleString()}`:'No value';activityData.deal_url=`https://app.pipedrive.com/deal/${dealData.id}`;return{json:activityData};"},"name":"Merge Deal Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,200]},{"parameters":{"channel":"YOUR_CHANNEL_ID","text":"={{ $json.emoji }} {{ $json.message }}\n\n*Deal:* <https://app.pipedrive.com/deal/{{ $json.deal_id }}|{{ $json.deal_title }}>\n\n_User ID: {{ $json.user_id }} • {{ $json.timestamp }}_","otherOptions":{}},"name":"Send to Slack","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1340,300],"credentials":{"slackApi":{"id":"3","name":"Slack"}}},{"parameters":{"jsCode":"const activityData=$('Process Activity').item.json;activityData.deal_url=`https://app.pipedrive.com/deal/${activityData.deal_id}`;return{json:activityData};"},"name":"Add Deal URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400]},{"parameters":{},"name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,400]}],"connections":{"Pipedrive Trigger":{"main":[[{"node":"Process Activity"}]]},"Process Activity":{"main":[[{"node":"Need Deal Info?"}]]},"Need Deal Info?":{"main":[[{"node":"Get Deal"}],[{"node":"Add Deal URL"}]]},"Get Deal":{"main":[[{"node":"Merge Deal Info"}]]},"Merge Deal Info":{"main":[[{"node":"Send to Slack"}]]},"Add Deal URL":{"main":[[{"node":"No Operation"}],[{"node":"Send to Slack"}]]}}}
