workflows/02-pipedrive-updates-to-slack.json
{"name":"Pipedrive Deal Activity to Slack","nodes":[{"parameters":{"events":["updated.deal","added.note","added.activity","updated.activity","deleted.activity"],"options":{}},"name":"Pipedrive Trigger","type":"n8n-nodes-base.pipedriveTrigger","typeVersion":1,"position":[240,300],"webhookId":"your-webhook-id","credentials":{"pipedriveApi":{"id":"2","name":"Pipedrive"}}},{"parameters":{"jsCode":"const data=$input.item.json.data;const meta=$input.item.json.meta;const previous=$input.item.json.previous;const action=meta.action;const entity=meta.entity;const userName=meta.user_name||'Unknown user';const timestamp=new Date(meta.timestamp).toLocaleString();let dealId=null;let message='';let emoji='';if(entity==='deal'){dealId=data.id;const dealTitle=data.title||'Untitled Deal';const dealValue=data.value?`$${parseFloat(data.value).toLocaleString()}`:'No value';const dealUrl=`https://app.pipedrive.com/deal/${dealId}`;if(action==='updated'){const changes=[];if(previous&&previous.title!==data.title){changes.push(`**Title:** ${previous.title||'(empty)'} → ${data.title||'(empty)'}`);}if(previous&&previous.value!==data.value){const oldVal=previous.value?`$${parseFloat(previous.value).toLocaleString()}`:'$0';const newVal=data.value?`$${parseFloat(data.value).toLocaleString()}`:'$0';changes.push(`**Value:** ${oldVal} → ${newVal}`);}if(previous&&previous.stage_id!==data.stage_id){changes.push(`**Stage changed:** Stage ${previous.stage_id} → Stage ${data.stage_id}`);}if(previous&&previous.status!==data.status){changes.push(`**Status:** ${previous.status} → ${data.status}`);}if(previous&&previous.owner_id!==data.owner_id){changes.push(`**Owner changed**`);}if(previous&&previous.expected_close_date!==data.expected_close_date){const oldDate=previous.expected_close_date||'Not set';const newDate=data.expected_close_date||'Not set';changes.push(`**Close date:** ${oldDate} → ${newDate}`);}if(changes.length===0){changes.push('Deal updated (minor changes)');}emoji='📊';message=`**DEAL UPDATED**\\n\\n**<${dealUrl}|${dealTitle}>**\\nValue: ${dealValue}\\n\\n**Changes:**\\n${changes.join('\\n')}`;}else if(action==='added'){emoji='🆕';message=`**NEW DEAL CREATED**\\n\\n**<${dealUrl}|${dealTitle}>**\\nValue: ${dealValue}`;}}else if(entity==='note'){dealId=data.deal_id;const noteContent=data.content||'(no content)';const shortContent=noteContent.length>100?noteContent.substring(0,100)+'...':noteContent;emoji='📝';message=`**NOTE ADDED**\\n\\n**Note:** ${shortContent}`;if(dealId){message+=`\\n\\n<https://app.pipedrive.com/deal/${dealId}|View Deal>`;}}else if(entity==='activity'){dealId=data.deal_id;const activityType=data.type||'Activity';const activitySubject=data.subject||'No subject';if(action==='added'){emoji='📅';message=`**ACTIVITY SCHEDULED**\\n\\n**Type:** ${activityType}\\n**Subject:** ${activitySubject}`;}else if(action==='updated'){emoji='✏️';message=`**ACTIVITY UPDATED**\\n\\n**Type:** ${activityType}\\n**Subject:** ${activitySubject}`;}else if(action==='deleted'){emoji='🗑️';message=`**ACTIVITY DELETED**\\n\\n**Type:** ${activityType}\\n**Subject:** ${activitySubject}`;}if(dealId){message+=`\\n\\n<https://app.pipedrive.com/deal/${dealId}|View Deal>`;}}if(!message){message='Activity logged';emoji='ℹ️';}return{json:{deal_id:dealId,message:message,emoji:emoji,updated_by:userName,timestamp:timestamp,entity:entity,action:action}};"},"name":"Process Activity","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"channel":"YOUR_CHANNEL_ID","text":"={{ $json.emoji }} {{ $json.message }}\\n\\n_by {{ $json.updated_by }} at {{ $json.timestamp }}_","otherOptions":{}},"name":"Send to Slack","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[680,300],"credentials":{"slackApi":{"id":"3","name":"Slack"}}}],"connections":{"Pipedrive Trigger":{"main":[[{"node":"Process Activity"}]]},"Process Activity":{"main":[[{"node":"Send to Slack"}]]}}}
